server:
  port: 8080

spring:
  application:
    name: whale-watcher

  datasource:
    url: jdbc:postgresql://localhost:5432/whalewatcher
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.whalewatcher: DEBUG

streams:
  enabled:
    - KRAKEN
    - BINANCE
    - COINBASE